#bodyEdit {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.864);
  min-height: 1080px;
}

#buttonDelete {
}
#buttonSub {
  width: 120px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  align-items: center;

  font-weight: bolder;
  border: white solid 2px;
  margin-left: 50px;
}
#headerEdit {
  display: flex;
  background-color: rgba(0, 0, 0, 0.864);
  justify-content: start;
  align-items: center;
}
#formEdit {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.864);
  display: flex;
  text-align: center;
  font-weight: bolder;

  color: aliceblue;
  justify-content: space-evenly;
  position: relative;
}
.inputEdit {
  margin-right: 10px;
}
#tableContainer {
  width: 1800px;
  border: white solid 2px;
  margin-bottom: 20px;
}
#table {
  margin: 0 auto;
  margin-top: 50px;
}
