#bodyEdit {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
#cardEdit {
  margin: 30px;
}
#buttonEdit {
  display: flex;
  justify-content: center;
}
#buttonSub {
  display: flex;
  justify-content: center;
}
