#cardMovie {
  box-shadow: 20px 20px 30px #ff0000;
  background-color: black;
}
.card-body {
  background-color: black;
  color: aliceblue;
  height: 500px;
}
.card-text {
  background-color: black;
  color: aliceblue;
  text-align: justify;
  height: 320px;
}
.card-average {
  font-weight: bolder;
  color: yellow;
  text-align: end;
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  font-size: 20px;
}
#titleMovie {
  height: 58px;
  align-items: center;
}
