.img {
  height: 100px;
  margin: 50px;
}
.cards {
}
#cardDetails {
  margin: 50px;
}
#bodyDetails {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#infoPlaylist {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
}
#textoDetails {
  margin-left: 50px;
  border: 3px solid white;
  margin: 10px 800px;
  box-shadow: 20px 20px 30px #ff0000;
}
#infoOwner {
  font-size: 30px;
}
#infoCategory {
  font-size: 30px;
}
#infoDate {
  font-size: 30px;
}
#infoId {
  font-size: 30px;
}
b {
  margin-left: 30px;
  color: red;
  font-size: 50px;
}
#buttonsDetails {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
#buttonApagarDetails {
  width: 300px;
  margin-top: 70px;
  height: 70px;
  font-size: 30px;
  margin-bottom: 70px;
}
#buttonEditarDetails {
  width: 300px;
  margin-top: 70px;
  height: 70px;
  font-size: 30px;
  margin-bottom: 70px;
}
#voltarHomeDetails {
  background-color: black;
}
