.img {
  height: 100px;
  margin: 50px;
}
.cards {
}
#cardDetails {
  margin: 50px;
}
#bodyDetails {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}
#infoPlaylist {
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
}
#textoDetails {
  margin-left: 50px;
  border: 3px solid white;
  margin: 10px 850px;
  box-shadow: 20px 20px 30px #ff0000;
  position: relative;
  bottom: 100px;
}
#infoOwner {
  font-size: 30px;
}
#infoCategory {
  font-size: 30px;
}
#infoDate {
  font-size: 30px;
}
#infoId {
  font-size: 30px;
}
b {
  margin-left: 30px;
  color: red;
  font-size: 50px;
}
#buttonsDetails {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
#buttonApagarDetails {
  width: 300px;
  height: 70px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  box-shadow: 10px 10px 20px #ff0000;
  font-weight: bolder;
  border: white solid 2px;
  margin: 100px 0px;
}
#buttonEditarDetails {
  width: 300px;
  height: 70px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  box-shadow: 10px 10px 20px #ff0000;
  font-weight: bolder;
  border: white solid 2px;
  margin: 100px 0px;
}
#voltarHomeDetails {
  background-color: black;
}
