.img {
  height: 100px;
  margin: 50px;
}
.cards {
  display: flex;
  margin: 20px;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#cardDetails {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
